body{
  background-color: #EAF6F6;
}
hr{
  border-style: none;
  background-color: white;
  width: 30%;
  border-top-style: dotted;

}
img{
  height:200px;
}
h1{
  color: #66BFBF;
}
h3{
color: #66BFBF;
}
